html {
  scroll-behavior: smooth;
}

body
{
    margin: 0;
    padding: 0;
    background-color: black;
    color: white!important;
}

::-moz-selection {
    color: black;
    background:rgb(240, 170, 20);
  }
  
  ::selection {
    color: black;
    background: rgb(240, 170, 20);
  }