.blog-cart:hover {
    outline: 3px solid darkorange;
    transform: scale(1.05);
    transition: 0.5s;
}

 @keyframes flicker {
    0%, 18%, 22%, 25%, 53%, 57%, 100% {
        text-shadow:
        0 0 4px #fff,
        0 0 11px #fff,
        0 0 19px #fff,
        0 0 40px #0fa,
        0 0 80px #0fa,
        0 0 90px #0fa,
        0 0 100px #0fa,
        0 0 150px #0fa;
    }

    10%, 20%, 24%, 55% {        
        text-shadow: none;
    }    
}

.neon-effect{
    animation: flicker 1.5s infinite alternate;
    color: #fff;
    font-weight: bolder;
}


.work{
    border-bottom: 7px solid brown;
    margin-bottom: 20px;
    padding-left: 2px;
}

.tags{
    padding: 3px;
    margin-top: 0px;
}
.tag{
    display: inline-block;
    margin: 3px;
    padding: 1px; 
    border-radius: 5px;
    color: darkblue;
    text-decoration: underline;
}

.tag i{
    color: darkorange;
    padding: 2px;
}

time{
    font-family: cursive;
    text-decoration: underline;
    color: #2f4f4f;
    font-weight: bold;
    font-style: italic;
}

.fa-clock{
    color: #000080;
    padding: 3px;
}

.work-title{
    font-weight: bold;
    color: #000;
}
.work-description{
    padding: 5px;
    border-radius: 3px;
    font-family: sans-serif;
    border-bottom: 1px solid #663399;
    text-indent: 15px;
    color: black!important;
}

.skill {
    color: white;
}

.popup-box{
    position: fixed;
    background: black;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.popup{
    position: absolute;
    background: #fff;
    border-radius: 4px;
    padding: 10px;
    border: 1px solid #999;
    overflow: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.close-icon {
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
  }

.popup-title{
    border-bottom: 1px solid gray;
    padding-top: 10px;
    margin-bottom: 25px;
    color: black;
}

.stop-scrolling {
    height: '100%';
    overflow: hidden;
}